<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>
<body>
    <div class="container">
        <h1>Budgtr</h1>
        <table>
            <tr>
                <td colspan="2">Bank Account</td>
                <td>$<span class="balance"><%= calculateBalance %></span></td>
            </tr>
            <% for( budgetItem in allBudgetItems ) { %>
                <tr>
                    <td> <%= allBudgetItems[budgetItem].date %>  </td>
                    <td> <a href="/budgets/<%= budgetItem %>"> <%= allBudgetItems[budgetItem].from %> </a> </td>
                    <td> <%= allBudgetItems[budgetItem].amount %> </td>
                </tr>
            <% } %>
        </table>
        <a href="/budgets/new"><button>Add new Budget Item</button></a>
    </div>
    <script>

    let balance = Number(document.querySelector('.balance').textContent);
    let body = document.querySelector('body');
    let table = document.querySelector('table');
    let button = document.querySelector('button');
    
    if (balance < 0) {
        body.style.backgroundColor = 'rgb(187, 64, 64)'
        table.style.color = 'white'
        button.style.color = 'white'}
    else if (balance > 1000) {
        body.style.backgroundColor = 'rgb(33, 88, 189)'
        table.style.color = 'white'
        button.style.color = 'white'};

    </script>
</body>
</html>